[data-key="backgroundCover"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popup-top {
  border: 1px solid darkgrey;
  padding: 0;
  width: 100%;
  height: 0;
  top: 0px;
  left: 0px;
  transition: 0.3s;
  z-index: 2;
}

.popup-right {
  border: 1px solid darkgrey;
  padding: 0;
  width: 0;
  height: 100%;
  right: 0px;
  transition: 0.3s;
  z-index: 2;
}

.popup-left {
  border: 1px solid darkgrey;
  padding: 0;
  width: 0;
  height: 100%;
  left: 0px;
  transition: 0.3s;
  z-index: 2;
}

.popup-center {
  border: 1px solid darkgrey;
  padding: 0;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  z-index: 2;
}

[data-key="popupContent"] {
  width: 100%;
  height: 100%;
}

[data-key="popupTopBar"] {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

[data-key="popupTopBar"] > svg {
  cursor: pointer;
}

[data-key="popupBody"] {
  width: calc(100% - 10px);
  height: calc(100% - 40px);
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}
